<%- include('parts/header.ejs')%> <%- include('parts/navbar.ejs')%>
<div class="container text-center">
  <h3>Login</h3>
  <form action="/login" method="post">
    <input
      type="email"
      class="form-control"
      name="email"
      placeholder="E-mail"
    />
    <br />
    <input
      type="password"
      class="form-control"
      name="password"
      placeholder="Password"
    />
    <br />
    <input type="submit" value="Login" class="btn btn-primary" />
  </form>
  <% if (authError) { %>
  <br />
  <p class="alert alert-danger"><%= authError %></p>
  <% }else if (validationErrors.length != 0) { %> 
  <br />
  <p class="alert alert-danger"><%= validationErrors.map(err=> err.msg).join(", ") %></p>
  <% } %>
  <br />
  <div>Don't have an account? <a href="/signup">Create an account</a></div>
</div>
<%- include('parts/footer.ejs')%>
